{% extends 'base_admin.html' %}

{% block content %}
<div class="admin-container">
    <aside class="sidebar">
            <h3>KulyStem Admin</h3>
        </div>
        <nav>
            <ul>
                <li><a href="/admin/data">Data Wisata Kuliner</a></li>
                <li><a href="/admin/logout" class="logout">Logout</a></li>
            </ul>
        </nav>
    </aside>

    <main class="admin-main">
        <h2>Selamat Datang, Admin!</h2>
        <p>Silakan pilih menu 'Data Wisata Kuliner' di sebelah atas untuk mengelola data wisata kuliner.</p>
    </main>
</div>
{% endblock %}
